/*------------VARIABLES------------*/
/*---------------------------------*/
/* -----------Game----------- */
table {
  width: 100%;
  aspect-ratio: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px; }

td {
  box-shadow: 0 0 1px #ddd;
  width: 33.3333333333333%;
  height: 33.3333333333333%;
  text-align: center;
  font-size: 5rem; }
  td:hover, td:active {
    box-shadow: 0 0 0.5rem #33333333; }

/* -----------Details----------- */
.container-player {
  background-color: #33333333;
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin: 1rem 0; }
  @media screen and (orientation: portrait) {
    .container-player--1 {
      transform: rotate(180deg); } }

.player-name {
  text-transform: uppercase;
  margin-right: auto;
  font-weight: 300; }

.player-wins {
  display: flex;
  align-items: center;
  font-size: 3.5rem; }
  .player-wins span {
    font-size: 3rem;
    margin-right: 1rem; }

.player-mark {
  margin-right: 1rem; }

/* -----------Intro----------- */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center; }

.message {
  min-width: 80vh;
  max-width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffee;
  border-radius: 3px;
  box-shadow: 1rem 1rem 2rem #33333333;
  text-transform: uppercase; }
  .message h2 {
    font-size: 4rem;
    margin-bottom: 2rem; }
  .message h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 300; }

.intro {
  min-width: 50vh;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffffee;
  border-radius: 3px;
  box-shadow: 1rem 1rem 2rem #33333333; }
  .intro__buttons {
    margin-top: 3rem; }
  .intro__title {
    text-transform: uppercase;
    font-size: 5rem; }
  .intro__form form {
    margin-top: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, min-content);
    row-gap: 3rem; }
    .intro__form form fieldset {
      width: 100%;
      grid-row: 1 / 2;
      border: none;
      padding: 0.5rem;
      display: grid;
      grid-template-columns: min-content repeat(3, 1fr);
      grid-template-rows: repeat(2, min-content);
      column-gap: 0.5rem;
      row-gap: 2rem; }
    .intro__form form button {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      justify-self: center;
      align-self: center;
      background-color: #ff006e; }
    .intro__form form label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%; }
    .intro__form form .mark {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
    @media screen and (max-width: 37.5em) {
      .intro__form form {
        width: 80vh; } }

input[type="text"] {
  border: none;
  border-radius: 100px;
  padding: 1rem 2rem;
  background-color: #ddd;
  font-family: inherit;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem; }

input[type="color"] {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  border: none;
  width: 5rem;
  height: 5rem;
  clip-path: circle(39%); }

input[type="radio"] {
  display: none; }
  input[type="radio"]:checked + label {
    background-color: #ddd; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif; }
  @media screen and (max-width: 43.75em) {
    html {
      font-size: 50%; } }

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-image: linear-gradient(to top, #ffffffaa, #ffffffaa), linear-gradient(to bottom right, #ffbe0b 0%, #ff006e 50%, #3a86ff 100%); }

.container {
  width: 80vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 43.75em) {
    .container {
      width: 80vw; } }

.btn,
.btn {
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  padding: 1.2rem 3rem;
  margin: 0 1rem;
  background-color: #ddd;
  transition: all 0.2s; }
  .btn:hover,
  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0.2rem 0.2rem 0.5rem #33333333; }
  .btn:focus,
  .btn:focus {
    transform: translateY(2px); }
  .btn span,
  .btn span {
    margin-left: 1rem; }

#btn1player:hover {
  background-color: #ffbe0b; }

#btn2players:hover {
  background-color: #3a86ff; }

#new-game:hover {
  background-color: #ff006e; }

.hidden {
  display: none; }

::selection {
  background-color: #ffbe0b; }
