/* -----------Intro----------- */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  min-width: 80vh;
  max-width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white-tr;
  border-radius: 3px;
  box-shadow: 1rem 1rem 2rem $black-tr;
  text-transform: uppercase;
  h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 300;
  }
}
.intro {
  min-width: 50vh;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $white-tr;
  border-radius: 3px;
  box-shadow: 1rem 1rem 2rem $black-tr;
  &__buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
  &__title {
    text-transform: uppercase;
    font-size: 5rem;
  }
  &__description {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    font-size: 1.5rem;
  }
  &__form form {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, min-content);
    row-gap: 3rem;

    fieldset {
      width: 100%;
      grid-row: 2 / 3;
      border: none;
      padding: 0.5rem;
      display: grid;
      grid-template-columns: min-content repeat(3, 1fr);
      grid-template-rows: repeat(2, min-content);
      column-gap: 0.5rem;
      row-gap: 2rem;
    }
    button {
      grid-row: 3 / 4;
      grid-column: 1 / -1;
      justify-self: center;
      align-self: center;
      background-color: $magenta;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
    .mark {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

@media screen and (max-width: 37.5em) {
  .intro {
    padding: 4rem 1rem;
    &__buttons {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__form form {
      grid-template-columns: max-content;
      grid-template-rows: repeat(4, min-content);
      justify-content: center;
      align-content: center;
      button {
        grid-row: 4 / 5;
      }
    }
    #form-p0 {
      grid-row: 2 / 3;
    }
    #form-p1 {
      grid-row: 3 / 4;
    }
  }
  .intro,
  .message {
    width: 100%;
  }
}
input[type="text"] {
  border: none;
  border-radius: 100px;
  padding: 1rem 2rem;
  background-color: $grey-md;
  font-family: inherit;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
input[type="color"] {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  border: none;
  width: 5rem;
  height: 5rem;
  clip-path: circle(39%);
}
input[type="radio"] {
  display: none;
  &:checked + label {
    background-color: $grey-md;
  }
}
