/*------------VARIABLES------------*/
$magenta: #ff006e;
$yellow: #ffbe0b;
$blue: #3a86ff;
$grey-md: #ddd;
$white: #fff;
$white-tr: #ffffffee;
$black: #333;
$black-tr: #33333333;
/*---------------------------------*/

@import "game";
@import "overlay";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  @media screen and (max-width: 43.75em) {
    font-size: 50%;
  }
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
  background-image: linear-gradient(to top, #ffffffaa, #ffffffaa),
    linear-gradient(to bottom right, $yellow 0%, $magenta 50%, $blue 100%);
}
.container {
  width: 80vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 43.75em) {
    width: 80vw;
  }
  @media screen and (max-width: 37.5em) {
    width: 90vw;
  }
}
.btn,
.btn {
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  padding: 1.2rem 3rem;
  margin: 1rem;
  background-color: $grey-md;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0.2rem 0.2rem 0.5rem $black-tr;
  }
  &:focus {
    transform: translateY(2px);
  }
  span {
    margin-left: 1rem;
  }
}
#btn1player:hover {
  background-color: $yellow;
}
#btn2players:hover {
  background-color: $blue;
}
#new-game:hover {
  background-color: $magenta;
}
.hidden {
  display: none;
}

::selection {
  background-color: $yellow;
}
