* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -----------Intro----------- */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid red;
}
.intro__form {
  display: flex;
}
/* -----------Details----------- */
.container-player {
  background-color: #aaaaaa33;
  width: 60vw;
  max-width: 512px;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin: 1rem 0;
}
.container-player--0 {
  transform: rotate(180deg);
}
.player-name {
  text-transform: uppercase;
  margin-right: auto;
  font-weight: 300;
}
.player-wins {
  font-size: 3.5rem;
}
.player-mark {
  margin-right: 1rem;
}
/* -----------Game----------- */
table {
  width: 60vw;
  max-width: 512px;
  aspect-ratio: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
}
td {
  box-shadow: 0 0 1px #ddd;
  width: 33.3333333333333%;
  height: 33.3333333333333%;
  text-align: center;
  font-size: 5rem;
}
td:hover,
td:active {
  box-shadow: 0 0 20px #33333311;
}
.hidden {
  display: none;
}
